@font-face {
    font-family: futura;
    src:
        url(../media/futura.woff2) format('woff2'),
        url(../media/futura.woff) format('woff'),
        url(../media/futura.ttf) format('truetype');
}

* {
    font-family: futura, system-ui;
}

body {
    padding: 0;
    /* font-family: futura, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
    /* height: 10px; */
}

a:hover {
    color: orange;
}

.front-page {
    position: relative;
}

.front-background {
    position: fixed;
    bottom: 0;
    z-index: -1;
    margin-top: -100vh;
    height: 100vh;
    width: 100%;
}

.front-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
}

.front-background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200vh;
    backdrop-filter: blur(4px) brightness(.8);
    /* apply the blur */
    pointer-events: none;
    /* make the overlay click-through */
    z-index: 100;
}

div.navigation {
    height: 150px;
    width: 100%;
    position: fixed;
    top: 40vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    max-width: 600px;
    height: 70%;
}


.poem {
    text-align: center;
    margin-top: 100vh;
    color: aliceblue;
    font-size: large;
}

.poem>blockquote {
    margin-top: 3rem;
    margin-bottom: 0;
}

.poem div {
    height: 30vh;
}

.map-container {
    height: calc(100vh - 50px);
    width: 100%;
    top: 50px;
    z-index: 0;
    position: sticky;
}

#map {
    width: 100%;
    height: 100%;
}

.timeline {
    position: fixed;
    top: 20vh;
    left: calc(100vw - 20px);
    height: 60vh;
    width: 20px;
    z-index: 0;
}

.timeline-axis {
    height: 100%;
    width: 1.5px;
    position: relative;
}

.timeline-axis-fill {
    /* height: 100%; */
    width: 100%;
    background-color: #FFF9;
}

.timeline-axis-line {
    position: absolute;
    top: 0;
    margin-left: 0.5px;
    height: 100%;
    width: 1px;
    background-color: #FFF3;
}

.timeline-pop {
    position: relative;
    left: -0.75rem;
    color: white;
    font-size: x-small;
    text-align: center;
    width: 20px;
}

div.section {
    position: relative;
    /* height: 80vh; */
    min-height: 30vh;
    /* pointer-events: none; */
    z-index: 10;
    margin: 0 20px;
    margin-bottom: 300vh;
    margin-left: 100px;
    width: 0.4vw;
    min-width: 400px;
    color: lightgray;
    background-color: #111111;
}

div.section:last-of-type {
    margin-bottom: 150vh;
}

footer {
    position: relative;
    background-color: black;
    color: gray;
    z-index: 10;
    padding: 5rem;
}


/* .leaflet-zoom-anim .leaflet-zoom-animated {
    transition-duration: 10s;
} */
.card-subtitle {
    margin-bottom: 1rem;
    color: gray;
}

b {
    color: darkgoldenrod;
}


#img-knot {
    width: 150%;
    margin-bottom: -60px;
}

.leaflet-tooltip {
    background-color: #111111;
    color: lightgray;
    border-color: #111111;
}

#card-1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80vh;
}

a {
    color: white;
}

footer div p {
    margin-bottom: 0.1rem;

}

small {
    font-size: smaller;
}

.leaflet-traced-pane path {
    stroke-dasharray: 0, 1000000;
    /* stroke: url(#gradient1) */
}

.leaflet-poly-pane {
    opacity: 0;
}

.coastline-1960 {
    color: #07c66a;
}

.coastline-2016 {
    color: #ff4848;
}

@media screen and (max-width:700px) {
    div.section {
        margin: auto;
        margin-bottom: 300vh;
        width: 95vw;
        min-width: unset;
        max-width: 400px;
    }

    #img-knot {
        width: 150%;
        max-width: 50vw;
        min-width: 100%;
        margin-bottom: -60px;
    }

    #logo {
        max-width: 70vw;
    }

    footer {
        padding: 2rem;
    }
}